body{
    background-image: url(https://wallpaperaccess.com/full/2752593.jpg);
    color: white;
}

h2,h3 {
    margin-top: 30PX;
    text-align: center;
}

footer{
    text-align: left;
}